$colors: ( black: #000,skyblue:lightskyblue, background: rgb(204, 11, 11), white:white,red: red, blue: blue, yellow:yellow, cyan:rgb(51, 145, 51), pink: rgb(129, 47, 105));
$color-black: map_get($colors, black);
$color-red: map-get($colors, red);
$color-blue: map-get($colors, blue);
$color-yellow: map-get($colors, yellow);
$color-skyblue: map-get($colors, skyblue);
$color-pink: map-get($colors, pink);
$color-white:map-get($colors, white );
