.footer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 50px;
    grid-auto-rows: 180px;
    
    .footer-logo{
        text-align: start;
        border-right: 1px solid;
        background-image: url('../../images/two.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .footer-align{
        display: grid;
        justify-items: start;
    }
    
}