.header{
    margin: 0 $base-grid*3;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    padding: $base-grid 0;
    
    .header--logo{
        grid-row: 1/3;
        // background: cadetblue;
        justify-self: start;
       
        background: url("http://3.bp.blogspot.com/_EqZzf-l7OCg/TNmdtcyGBZI/AAAAAAAAAD8/KD5Y23c24go/s1600/homer-simpson-1280x1024.jpg") no-repeat;
        width: 100px;
        height: 100px;
        background-size:contain;
    }
    .header--links{ 
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid;
       
        .--link{
            text-transform: uppercase;
            color: $color-black;
           
            &:not(:last-child){
                margin-right: $base-grid;
                
            }
        }
       
    }
    .header--signs{
        justify-self: end;
    }
    .header--flag{
        grid-column: 1/3;
        padding: $base-grid 0; 
        display: flex;
        justify-content: space-around;
    }
}