.section{
    display: grid;
    grid-template-columns:65% 35%;
    grid-auto-rows: 387px;
    border-top: 3px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
   
    
    .section--featured{
        display: grid;
        color:white;
        margin: 10px;
        text-align: start;
        border-right: 1px solid;
        background-image: url('../../images/one.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .section--top-stories{
        display: grid;
        text-align: start;
        

    }
}