.section{
    display: grid;
    grid-template-columns:65% 35%;
    grid-auto-rows: 387px;
    
    .section--featured{
        background: yellowgreen;
        text-align: center;
        border-right: 1px solid;
    }
    .section--top-stories{
        background: lightcoral;
        text-align: center;
    }
}