*{
    box-sizing: border-box;
}
a, h1, h2, h3, h4, h5, h6, p, div, button, input{
    font-family: $font-roboto, 'sans-serif';
}

a{
    text-decoration: none;
    display: inline-block;
}
body{
    margin: $fsz-large;
}
